/* .navbar{
    background: rgb(85, 173, 255);
} */

.logo{
    height: 70px;
}

#About{
    background: rgb(85, 173, 255);
}

#Teamspace{
    background: rgb(85, 173, 255);
}

.card{
    margin: 10px 10px 10px 10px;
}

h2{
    margin: 10px 10px 10px 10px;
}